.container {
    width: 950px;
    background-color: silver;
    border-style: solid;
    border-width: 20px;
    border-color: silver;
}
.top-nav {
    height: 150px;
    margin-top: 20px;
    display: block;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: blue;
}
.main {
    height: 400px;
    width: 700px;
    margin-top: 20px;
    margin-left: 45px;
    display: inline-block;
    background-color: red;
}
.sub-content {
    height: 200px;
    width: 210px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    background-color: purple;
} 

